:root {
  --foreground-color-main: #212529;
  --foreground-color-main-transparent: #212529cc;
  --foreground-color-alt: #000;
  --foreground-color-alt-transparent: #00000040;
  --foreground-color-alt-transparent-low: #000000dd;
  --main-color: #0d860f;
  --main-color--transparent: #0d860fb3;
  --main-color-alt: var(--main-color);
  --main-color-alt-fg: var(--bg-color-1);
  --bg-color-1: white;
  --bg-color-2: #fafafa;
  --bg-color-input: #f3f3f3;
  --bg-color-input-search: #f3f3f3;
  --bg-color-input-alt: #f5f5f5;
  --bg-color-tag: #f5f5f5;
  --bg-color-tag-alt: #fcfcfc;
  --bg-color-tag-empty: #f5f5f5cc;
  --color-border: #d9d9d9;
  --shadow-btn-main: 5px 5px 5px #00000027, -5px -5px 5px #08af0b20,
    inset 3px 3px 5px #00000035, inset -5px -5px 5px #0d860f21;
  --shadow-btn-main--hover: 5px 5px 5px #00000020, -5px -5px 5px #0d860f0e,
    inset 3px 3px 5px #00000025, inset -5px -5px 5px #0d860f0c;
  --shadow-book: 9px 9px 12px #00000087, -6px -6px 13px #ffffffe8;
  --shadow-tag: 3px 3px 5px hsla(0, 0%, 0%, 0.219), -5px -5px 5px #ffffffb4;
}
